@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.mainBg {
    height: 100vh;
    width: 100vw;
    background-image: url('../../../Images/bg.avif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

            .blackBgOverlay {
                position: absolute;
                height: 100vh;
                width: 100vw;
                background-color: black;
                opacity: 0.6;
            }

            p:first-child {
                text-align: center;
                color: white;
                font-weight: bold;
                letter-spacing: 1px;
                font-size: 2.3rem;
                font-family: 'Roboto', sans-serif;
            }

            p:nth-child(2) {
                text-align: center;
                color: white;
                font-weight: bold;
                letter-spacing: 1px;
                font-size: 1.5rem;
                font-family: 'Roboto', sans-serif;
            }
            p:nth-child(3) {
                text-align: center;
                color: white;
                font-weight: bold;
                letter-spacing: 1px;
                font-size: 3rem;
                font-family: 'Roboto', sans-serif;
            }
            p:nth-child(4) {
                font-style: italic;
                text-transform: capitalize;
                text-align: center;
                color: white;
                font-weight: bold;
                letter-spacing: 1px;
                font-size: 0.8rem;
                font-family: 'Roboto', sans-serif;
            }

            p:last-child {
                padding-top: 3rem;
                padding-left: 18rem;
                text-align: center;
                color: white;
                font-weight: bold;
                letter-spacing: 1px;
                font-size: 2rem;
                font-family: 'Roboto', sans-serif;
            }

            img{
                width: 5rem;
                padding-right: 0.5rem;
                position: relative;
                top: -8px;
            }
}

@media (max-width: 511px) {
    .mainBg {
        p:last-child {
            padding-left: 0 !important;
        }
    }
}
