.footerBg{
    background-color: #1b263b;
    color: antiquewhite;
    text-align: center;
    text-transform: capitalize;
    font-size: 0.9rem;
    font-weight: 700;
    letter-spacing: 1px;
}